<!DOCTYPE html>
<html>

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<meta charset="utf-8">
	<title>{{{name}}} {{{page_title}}}</title>
	<base href="/">
	{{! <link rel='stylesheet' href='css/main.css'> }}
</head>

<body>
	{{! <script src='javascript/main.js'></script> }}
</body>

</html>
