<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>What It's For</title>

    <base href="/">
    <link rel="stylesheet" href="src/css/add-a-wif.css">
    <link rel="stylesheet" href="src/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body>
	{{{ header_html }}}

	<section class="section">
		<div class="container">
			<div class="columns is-multiline" id="sub-header-area">
				<div class="column is-three-quarters">
					<div class='content'>
						<article class="message is-warning">
                            <div class="message-body">
                                Please: Read the guidelines before contributing!
                            </div>
                        </article>

                        <h2 class='title is-5'>The Guidelines</h2>

                        <ul>
                            <li>Wif explanations must be written for an absolute beginner in the field the technology belongs to.</li>
                            <li>Reader must not need to google anything to understand your explanation.</li>
                            <li>Explanation should describe the problem the technology solves.</li>
                            <li>Link(s) to further reading may not link to technical documentation.</li>
                        </ul>

                        After you submit, we'll do our best to review your submission within a few days.

                        <br>
                        <br>

                        <h2 class='title is-5'>Submit your WIF!</h2>
					</div>

                    <div class="field">
                        <label class="label">Technology Name</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="SQL">
                            <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                            </span>
                        </div>
                        <p class="help is-dark">Please choose the name from the list of options here if it's there.</p>
                    </div>

                    <div class="field">
                        <label class="label">WIF Title</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="A computer language used to interact with SQL database software">
                            <span class="icon is-small is-left">
                            <i class="fas fa-sign"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Explanation</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Please follow the guidelines above!"></textarea>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">#1 best link to further reading:</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="www.example.com/how-SQL-works.html">
                            <span class="icon is-small is-left">
                            <i class="fas fa-link"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Your Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="email" id='email-field'>
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                        <p class="help is-danger" id='email-validation-error'>Invalid email</p>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                            <input type="checkbox">
                            I agree to the <a href="#">terms and conditions</a>
                            </label>
                        </div>
                    </div>

                    <br>

                    <div class="field">
                        <div class="control">
                            <button class="button is-link" onclick="submitWif()">Submit</button>
                        </div>
                    </div>

					<hr>

				</div>

				{{{ sidebar_html_nonhomepage }}}
			</div>
		</div>
	</section>
  </body>
	{{{ common_scripts }}}
	<script src='src/javascript/add-a-wif.js'></script>
</html>